:host {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

.table-container {
  display: block;
  height: 100%;
  width: 60%;
  overflow: auto;

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    th, td {
      border: 0;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: black;

      &.cdk-table-sticky:first-of-type {
        border-right-width: 1px;
      }
    }

    td {
      background-color: white;
    }
  }
}

.actions {
  margin-left: 2rem;
}
