<header>
  <nav>
    <a routerLink="/">CDK Samples</a>
    <span>|</span>
    <a routerLink="/platform"><i class="material-icons">computer</i><span>Platform</span></a>
    <a routerLink="/layout"><i class="material-icons">clear_all</i><span>Layout</span></a>
    <a routerLink="/tree"><i class="material-icons">expand_more</i><span>Tree</span></a>
    <a routerLink="/table"><i class="material-icons">table_chart</i><span>Table</span></a>
    <a routerLink="/overlay"><i class="material-icons">layers</i><span>Overlay</span></a>
    <a routerLink="/dnd"><i class="material-icons">mouse</i><span>Drag&Drop</span></a>
    <a routerLink="/virtualscroll"><i class="material-icons">unfold_more</i><span>Virtual Scrolling</span></a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
