@import '../variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
    color: white;
    background-color: $header-background-color;

    nav {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        a {
            color: $header-link-color;
            text-decoration: none;
            padding: 0.5rem;
            margin-left: 1rem;
            display: flex;
            align-items: center;

            span {
                margin-left: 0.25rem;
            }

            &:active, &.active {
                background-color: $header-link-background-color;
            }

            &:hover {
                background-color: $header-link-background-color;
            }
        }

    }
}

main {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}
