/* You can add global styles to this file, and also import other style files */


/*
@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';

@include cdk-a11y();
@include cdk-overlay();
*/

@import 'variables';

html, body {
    height: 100%;
}

body {
    font-size: 16px;
}

th, td {
  border: 1px solid black;
  padding: 1rem;
}

th {
  background: $header-background-color;
  color: white;
}

h1 {
  margin-bottom: 2rem;
  padding: 0.5rem 3rem;
  text-align: center;
}

