/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';

@include cdk-a11y();
@include cdk-overlay();

@import 'variables';

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
}
