
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-tree-node {
    display: block;
    padding-left: 20px;

  &.leaf {
    padding-left: 45px;
  }
}

.example-tree-invisible{
    display: none;
}

button {
  padding: 0;
  border: none;

  i {
    vertical-align: middle;
  }

  &:focus {
    outline: none;
  }
}

span {
  vertical-align: middle;
}
